<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="action-container">
    <div class="action-logo">
        <img style="height: 6em" src="{{ url_for('static', filename=variables['logo_image']) }}">
    </div>

    <div class="action-prompt">
        Sign in
    </div>
    <div class="action-input-container">
        <input id="identifier" type="text" placeholder="username or e-mail">
        <input id="password" type="password" placeholder="password">
    </div>
    <div class="action-submit-container">
        <button id="submit">Log in</button>
    </div>
    <div id="login-outcome" class="action-outcome-container"></div>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    let identifier = "";
    let password = "";

    document.getElementById("identifier").addEventListener("change", (object) => {
        identifier = object.target.value;
    });

    document.getElementById("password").addEventListener("change", (object) => {
        password = object.target.value;
    });

    login_outcome_element = document.getElementById("login-outcome");

    document.getElementById("submit").addEventListener("click", () => {
        console.log(identifier, password);

        axios.post("{{ variables["authentication_url"] }}", {identifier: identifier, password: password}).then(value => {
            console.log(value.data.token);

            localStorage.setItem("{{ variables["local_storage_key"] }}", value.data.token);

            login_outcome_element.innerHTML = "<p>login success</p>";
            login_outcome_element.style.opacity = 1;

            setTimeout(() => window.location = "{{ variables["login_success_redirect_url"] }}", 1_000);
        }).catch(err => {
            login_outcome_element.innerHTML = "<p>login failure</p>";
            login_outcome_element.style.opacity = 1;

            setTimeout(() => login_outcome_element.style.opacity = 0, 2_000);
        });
    });
</script>
</html>
