body
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 0;
    padding: 0;

    height: 100vh;

    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.25rem;
}

.login-container
{
    margin-top: 10em;
    width: 40%;
    height: 40%;

    box-shadow: 5px 5px 10px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

input
{
    font-family: inherit !important;
    font-size: inherit !important;

    height: 1.65em;
    padding: 0.35em;
    
    border: 1px solid black;
    border-radius: 0.45em;

    margin: 1em 4em;
    
    outline: none;

}

button
{
font-family: inherit !important;
font-size: inherit !important;
    outline: none !important;

    border: none;
    padding: 0.45em 0.55em;

    background: black;
    color: white;
    border-radius:0.45em;
    box-shadow: 0 0 12px black;
}

button:active
{
    box-shadow: none;
}

.login-outcome
{
    opacity: 0;
    position: fixed;
    bottom: 1em;
    left: 1em;
}
